header{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
}
.header-img {
    max-width: 100%;
    height: auto;
}
h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
    font-size: 2rem;
    padding: 2rem;
    border: 0.5rem solid black;
}
.caixa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 2rem;
    padding: 2rem;
    border: 0.5rem solid black;
}