html, body, main {
    width: 100%;
    height: 100%;
    font-family: 'Open_Sans', sans-serif;
}

header {
    height: 60px; /* Mantido em pixels */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem; /* Ajuste se necessário para adequar ao design */
}

.casa, .seta {
    height: 3rem; /* Mantido em rem para escalonamento proporcional */
}

main {
    width: 100%;
    height: calc(100% - 60px); /* Subtrai a altura do cabeçalho */
}

.soja, .area, .previsao, .atualizacoes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; /* Ajustável para visibilidade */
    border: 5px solid black; /* Mantido em pixels para consistência */
}

.soja {
    height: 8rem; /* Ajustável para visibilidade */
    width: 14rem; /* Ajustável para visibilidade */
}

.bolaverdemaior, .bolaverdemenor {
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}

.bolaverdemaior {
    width: 8rem; /* Ajustável para visibilidade */
    height: 8rem; /* Ajustável para visibilidade */
    font-size: 2rem; /* Ajustável para visibilidade */
    border: 15px solid #99cc00; /* Mantido em pixels para consistência */
}

.bolaverdemenor {
    width: 6rem; /* Ajustável para visibilidade */
    height: 6rem; /* Ajustável para visibilidade */
    font-size: 1rem; /* Ajustável para visibilidade */
    border: 10px solid #99cc00; /* Mantido em pixels para consistência */
}

.linha, .linha1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.titulo, .subtitulo {
    font-size: 1.5rem; /* Ajustável para visibilidade */
}

.header-img {
    max-width: 100%;
    height: auto;
}
